
section {
    margin-bottom: 15px;
}
section:last-child {
    text-align: justify;
}
.wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}
.content {
    width: 600px;
}
.main-info-container {

}
.contact-info-header {
    display: none;
}
.contact-info-container{
    display: flex;
    padding: 0 20px;
    position: sticky;
    top: 45px;
    align-self: flex-start;
}
.contact-info{
    display: flex;
    width: 350px;
}
.room-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
h2 {
    font-size: 2rem;
    margin: 15px 0;
}
.current-image {
    position: relative;
    width: 600px;
    color: white;
    font-weight: bold;
}
.current-image img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}
.arrow-container-left, .arrow-container-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.3;
}
.arrow-container-left {
    left: 0;
    background: linear-gradient(270deg, rgba(0,0,0,0.4) 0%, transparent 100%)
}
.arrow-container-right {
    right: 0;
    background: linear-gradient(270deg, rgba(0,0,0,0.4) 0%, transparent 100%);
}
.arrow-container-left:hover, .arrow-container-right:hover {
    opacity: 0.8;
}
.arrow-container-left:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, transparent 100%);
}
.arrow-container-right:hover {
    background: linear-gradient(270deg, rgba(0,0,0,0.6) 0%, transparent 100%);
}
.arrow {
    color: white;
    font-size:  3rem;
    font-weight: bold;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}
.arrowContainerLeft:hover .arrow,
.arrowContainerRight:hover .arrow {
  transform: scale(1.2);
}
.images ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
}
.images ul li {
    height: 55px;
    width: auto;
}
.images ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.images ul li:hover {
    transform: scale(1.05);
}
.picked {
    transform: scale(1.05);
}
@media (max-width: 1280px) {
    .contact-info-container{
        display: none;
    }
    .contact-info-header{
        display: block;
    }
    .wrapper {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .current-image {
        width: 100%;
    }
    .current-image img {
        width: 100%;
        height: 100%;
    }
    
    h2{
        font-size: 1.6rem;
    }
    .current-image {
        max-width: 100%;
    }
    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

.about-room-container ul {
    list-style: none;
    color: gray;
}
.highlight {
    color: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}